
<div class="container">

    <img src="/src/assets/img/virgen.jpg" >
    <h2 class="titulo">Lecturas de la I.E. N°-30001 "Santa Rosa de Lima" Huancayo</h2>
</div>

<div class="container">
    <h3 class="grade" >SELECCIONE SU GRADO ACADEMICO</h3>
</div>



<div class="container">

    <div>

        <img src="/src/assets/img/estudiante.jpg" >
        <button mat-flat-button color="primary" routerLink="/estudiante">Estudiante</button>

    </div>

    <div>
        <img src="" >
        <button mat-flat-button color="primary" routerLink="/docente">Docente</button>
    </div>
    
   
</div>


